* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 1px;
    /* Largura da barra */
}

::-webkit-scrollbar-thumb {
    background:  #A5292A;
    /* Cor do indicador */

}

::-webkit-scrollbar-track {
    background: none;
    /* Cor da trilha */
}



.custom-offcanvas {
    width: 200px;
    /* Defina a largura desejada */
}

.typing-container {
    display: inline-block;
    min-width: 120px;
}

#typing-text {
    border-right: 2px solid #666;
    animation: blink-caret 0.75s step-end infinite;
    white-space: pre;
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #666
    }
}

@media (max-width: 768px) {
    .typing-container {
        display: block;
        margin-top: 0.5rem;
    }
}

  .dropdown-content {
        transition: max-height 0.3s ease-out;
    }
    
    .fas.fa-caret-right {
        transition: transform 0.3s ease-out;
    }

#prevBtn:disabled,
#nextBtn:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}